<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>

    <%- include("partials/nav")  %> 
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-4">
                                <img src="/images/<%= urun.imageUrl %>" alt="" class="img-fluid">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title"><%= urun.name %> </h5>
                                    <p class="card-text"><%= urun.price %> </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis repudiandae corporis, reiciendis voluptatibus eaque, cupiditate deserunt natus, excepturi officia libero nemo voluptas sunt quod tenetur necessitatibus beatae labore sapiente modi.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aliquam dolorum, molestiae eos similique perferendis error ex eaque, qui ut quaerat iusto sapiente harum numquam inventore esse laborum et veniam!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

            
               
            </div>
        </div>
    </div>

</body>
</html>